<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Avatar</string>
		<key>gross</key>
		<integer>2782</integer>
		<key>year</key>
		<integer>2009</integer>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>4</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Titanic</string>
		<key>gross</key>
		<real>2186</real>
		<key>year</key>
		<integer>1997</integer>
		<key>genre</key>
		<string>Drama</string>
		<key>rating</key>
		<integer>4</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Avengers</string>
		<key>gross</key>
		<real>1518</real>
		<key>year</key>
		<integer>2012</integer>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>rating</key>
		<integer>5</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Harry Potter and the Deatlhy Hallows - Part 2</string>
		<key>gross</key>
		<integer>1341</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>genre</key>
		<string>Drama</string>
		<key>rating</key>
		<integer>5</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Frozen</string>
		<key>gross</key>
		<integer>1276</integer>
		<key>year</key>
		<integer>2013</integer>
		<key>genre</key>
		<string>Animation</string>
		<key>rating</key>
		<integer>4</integer>
		<key>certification</key>
		<string>PG</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Iron Man 3</string>
		<key>gross</key>
		<real>1215</real>
		<key>year</key>
		<integer>2013</integer>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>rating</key>
		<integer>4</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Transformers: Dark of the Moon</string>
		<key>gross</key>
		<integer>1123</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>2</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Lord of the Rings: The Return of the King</string>
		<key>gross</key>
		<integer>1119</integer>
		<key>year</key>
		<integer>2003</integer>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>5</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Skyfall</string>
		<key>gross</key>
		<integer>1108</integer>
		<key>year</key>
		<integer>2012</integer>
		<key>genre</key>
		<string>Mystery</string>
		<key>rating</key>
		<integer>5</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Transformers: Age of Extinction</string>
		<key>gross</key>
		<integer>1087</integer>
		<key>year</key>
		<integer>2014</integer>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>1</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Dark Knight Rises</string>
		<key>gross</key>
		<real>1084</real>
		<key>year</key>
		<integer>2012</integer>
		<key>genre</key>
		<string>Drama</string>
		<key>rating</key>
		<integer>4</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pirate of the Caribbean: Dead Man&apos;s Chest</string>
		<key>gross</key>
		<integer>1066</integer>
		<key>year</key>
		<integer>2006</integer>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>3</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Toy Story 3</string>
		<key>gross</key>
		<integer>1063</integer>
		<key>year</key>
		<integer>2010</integer>
		<key>genre</key>
		<string>Animation</string>
		<key>rating</key>
		<integer>5</integer>
		<key>certification</key>
		<string>G</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pirates of the Caribbean: On Stranger Tides</string>
		<key>gross</key>
		<integer>1045</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>2</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Jurassic Park</string>
		<key>gross</key>
		<integer>969</integer>
		<key>year</key>
		<integer>1993</integer>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>rating</key>
		<integer>5</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
</array>
</plist>
