<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Avatar</string>
		<key>gross</key>
		<string>$2,787M</string>
		<key>year</key>
		<real>2009</real>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>83</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Titanic</string>
		<key>gross</key>
		<string>$2,186M</string>
		<key>year</key>
		<integer>1997</integer>
		<key>genre</key>
		<string>Drama</string>
		<key>rating</key>
		<integer>88</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Avengers</string>
		<key>gross</key>
		<string>$1,518M</string>
		<key>year</key>
		<real>2012</real>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>rating</key>
		<integer>92</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Harry Potter and the Deatlhy Hallows - Part 2</string>
		<key>gross</key>
		<string>$1,341M</string>
		<key>year</key>
		<real>2011</real>
		<key>genre</key>
		<string>Drama</string>
		<key>rating</key>
		<integer>96</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Frozen</string>
		<key>gross</key>
		<string>$1,276M</string>
		<key>year</key>
		<real>2013</real>
		<key>genre</key>
		<string>Animation</string>
		<key>rating</key>
		<integer>89</integer>
		<key>certification</key>
		<string>PG</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Iron Man 3</string>
		<key>gross</key>
		<string>$1,215M</string>
		<key>year</key>
		<real>2013</real>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>rating</key>
		<integer>78</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Transformers: Dark of the Moon</string>
		<key>gross</key>
		<string>$1,123M</string>
		<key>year</key>
		<real>2011</real>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>36</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Lord of the Rings: The Return of the King</string>
		<key>gross</key>
		<string>$1,119M</string>
		<key>year</key>
		<real>2003</real>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>94</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Skyfall</string>
		<key>gross</key>
		<string>$1,108M</string>
		<key>year</key>
		<real>2012</real>
		<key>genre</key>
		<string>Mystery</string>
		<key>rating</key>
		<integer>92</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Transformers: Age of Extinction</string>
		<key>gross</key>
		<string>$1,087M</string>
		<key>year</key>
		<real>2014</real>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>18</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Dark Knight Rises</string>
		<key>gross</key>
		<string>$1,084M</string>
		<key>year</key>
		<real>2012</real>
		<key>genre</key>
		<string>Drama</string>
		<key>rating</key>
		<integer>88</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pirate of the Caribbean: Dead Man&apos;s Chest</string>
		<key>gross</key>
		<string>$1,066M</string>
		<key>year</key>
		<real>2006</real>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>54</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Toy Story 3</string>
		<key>gross</key>
		<string>$1,063M</string>
		<key>year</key>
		<real>2010</real>
		<key>genre</key>
		<string>Animation</string>
		<key>rating</key>
		<integer>99</integer>
		<key>certification</key>
		<string>G</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pirates of the Caribbean: On Stranger Tides</string>
		<key>gross</key>
		<string>$1,045M</string>
		<key>year</key>
		<real>2011</real>
		<key>genre</key>
		<string>Action</string>
		<key>rating</key>
		<integer>33</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Jurassic Park</string>
		<key>gross</key>
		<string>$1,029M</string>
		<key>year</key>
		<integer>1993</integer>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>rating</key>
		<integer>93</integer>
		<key>certification</key>
		<string>PG-13</string>
	</dict>
</array>
</plist>
